@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;500;700;900&display=swap');

body{
    background: linear-gradient(to bottom right, orange, black);
    height: 100vh;
}

#padrao-home{
    text-align: center;
    padding: 10px;
}
#conteudo{
    background-color: white;
    max-width: 550px;
    margin: auto;
    font-size: 1.1rem;
    border-radius: 5px;
}
img{
    padding: 10px;
    max-width: 400px;
}

#conteudo{
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navigation{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}
.bar{
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
}