@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;500;700;900&display=swap');

body{
    background: linear-gradient(to bottom right, orange, black);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#padrao-home{
    text-align: center;
    padding: 10px;
}
#conteudo{
    background-color: white;
    max-width: 70%;
    height: 90%;
    margin: auto;
    font-size: 1.1rem;
    border-radius: 5px;
    overflow: hidden;
}
img{
    margin: 10px;
    max-width: 90%;
    max-height: 850px;
    overflow: hidden;
}
@media only screen and (max-width: 720px){
    #conteudo{
        margin-left: 80px;
        width: 70%;
    }
    #conteudo img{
        max-width: 90%;
    }
    h1{
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 530px){
    #conteudo{
        background-color: white;
        max-width: 95%;
    }
    h1{
        font-size: 0.5rem;
    }
}