@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;500;700;900&display=swap');

body{
    background: linear-gradient(to bottom right, orange, black);
    height: 100%;
}

#padrao-home{
    text-align: center;
    padding: 10px;
}
#conteudo{
    background-color: white;
    max-width: 70%;
    height: 100vh;
    margin: auto;
    font-size: 1.1rem;
    border-radius: 5px;
    overflow: hidden;
}
img{
    margin: 10px;
    max-width: 90%;
    max-height: 700px;
    overflow: hidden;
}
@media only screen and (max-width: 720px){
    #conteudo{
        background-color: white;
        max-width: 70%;
        height: 100vh;
        margin: auto;
        font-size: 1rem;
        padding: 3px;
        border-radius: 5px;
    }
    #conteudo img{
        max-width: 90%;
    }
}