.tabela-embarcacao{
    width: 80%;
    margin: auto;
    background-color: #f3f1f1;
    border-radius: 5px;
    text-align: center;
    overflow-x: auto;
}
table{
    text-align: center;
    margin: auto;
    margin-top: 60px;
    padding: 10px;
}
table th{
    min-width: 100px;
    width: 160px;
    border-bottom: 2px solid black;
}
table td{
    text-align: center;
    border-bottom: 1px solid black;
    height: 32px;
}
a{
    text-decoration: none;
    color: black;
}
.td-botao{
    border: none;
}
.botao-tabela{
    background-color: transparent;
    border: solid black 1px;
    cursor: pointer;
    width: 140px;
    height: 32px;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 3px;
}
.botao-tabela:hover{
    text-decoration: underline;
    border: solid black 3px;
}
@media only screen and (max-width: 700px){

}
